.DS_Store*
._*
.Spotlight-V100
.Trashes
[Tt]humbs.db
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
.vs/
[Ee]xported[Oo]bj/
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.user
/*.userprefs
/*.pidb
/*.booproj
*.json
*.deps.json
*.dll
*.pdb
*.runtimeconfig.dev.json
*.runtimeconfig.json
*.exe
!timezones.json